*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Helvetica, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: $m-size;
  // background-color: $color2;
  // color: $off-white;
}

#app {
  margin-bottom: $l-size;
}
